body{
    padding: 10%;
    background-color: black;
}

.zero_div{
    text-align: center;
    height: fit-content;
}

.first_div{
    border: 5px solid black;
    
    text-align: center;
    align-items: center;
    display: flex;
    /* vertical-align:auto; */
    justify-content: center;
    /* position: absolute; */
    word-wrap: break-word ;
    height: fit-content;
    

}

h1{
    justify-content: center;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

#emoji{
    justify-content: center;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 80px;
}
.second_div{
    /* border: 5px solid black; */
    margin-top: 10px;
    padding-top: px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    height: fit-content;

}


.yes_bttn{
    margin-right: 5px;
    color: green;
}
.no_bttn{
    margin-left: 5px;
    color: red
}
.yes_bttn, .no_bttn{
    border:2px solid ;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    
    
}
.yes_bttn:hover, .no_bttn:hover{
    background-color: yellow;
    border:2px solid ;
    
    font-size: 25px;
    cursor: pointer;
    
    
}
/*  amit 1*/